{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- Header Inner -->
<div class="header-inner">
	<div class="container">
		<div class="cat-nav-head">
			<div class="row">
				<div class="col-12">
					<div class="menu-area">
						<!-- Main Menu -->
						<nav class="navbar navbar-expand-lg">
							<div class="navbar-collapse">	
								<div class="nav-inner">	
									<ul class="nav main-menu menu navbar-nav">
										<li class="active"><a href="{% url 'home' %}">Главная</a></li>
										<li><a href="{% url 'foods' %}">Каталог</a></li>
										<li><a href="{% url 'service' %}">О нашем сервисе</a></li>
										<li><a href="#">Заказ<i class="ti-angle-down"></i><span class="new">Новинка</span></a>
											<ul class="dropdown">
												<li><a href="{% url 'cart' %}">Корзина</a></li>
												<li><a href="{% url 'checkout' %}">Оплата</a></li>
											</ul>
										</li>
										<li><a href="{% url 'contact' %}">Свяжитесь с нами</a></li>
									</ul>
								</div>
							</div>
						</nav>
						<!--/ End Main Menu -->	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/ End Header Inner -->
</header>
<!--/ End Header -->
							
<!-- Breadcrumbs -->
		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="bread-inner">
							<ul class="bread-list">
								<li><a href="{% url 'home' %}">Главная<i class="ti-arrow-right"></i></a></li>
								<li class="active"><a href="{% url 'checkout' %}">Оплата</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->

	<div class="shopping-cart section">
		<div class="container">
			<div class="row">
				<div class="col-12">
				
					<div class="row">
						<div class="col-lg-6">
							<div class="box-element" id="form-wrapper">
								<form id="form">
									<div id="user-info">
										<div class="form-field">
											<input required class="form-control" type="text" name="name" placeholder="Имя">
										</div>
										<div class="form-field">
											<input required class="form-control" type="email" name="email" placeholder="Эл. Почта">
										</div>
									</div>

									<div id="shipping-info">
										<hr>
										<p>Информация для доставки:</p>
										<hr>
										<div class="form-field">
											<input class="form-control" type="text" name="address" placeholder="Адрес">
										</div>
										<div class="form-field">
											<input class="form-control" type="text" name="city" placeholder="Город">
										</div>
										<div class="form-field">
											<input class="form-control" type="text" name="state" placeholder="Область">
										</div>
										<div class="form-field">
											<input class="form-control" type="text" name="zipcode" placeholder="Почтовый индекс">
										</div>
										<div class="form-field">
											<input class="form-control" type="text" name="country" placeholder="Повторите индекс">
										</div>
									</div>

									<hr>
									<input id="form-button" class="btn btn-warning text-white btn-block" type="submit" value="Продолжить">
								</form>
							</div>

							<br>
							<div class="box-element hidden" id="payment-info">
								<small>Paypal Options</small>
								<!--<button class="btn btn-outline-dark" id="make-payment">Make payment</button>-->
								<div id="paypal-button-container"></div>
							</div>

						</div>

						<div class="col-lg-6">
							<div class="box-element">
								<a  class="btn btn-outline-dark text-white" href="{% url 'cart' %}">&#x2190; Назад в корзину</a>
								<hr>
								<h3>Заказ</h3>
								<hr>
								{% for item in items %}
								<div class="cart-row">
									<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
									<div style="flex:2"><p>{{item.product.name}}</p></div>
									<div style="flex:1"><p>₴{{item.product.price|floatformat:2}}</p></div>
									<div style="flex:1"><p>{{item.quantity}} шт.</p></div>
								</div>
								{% endfor %}
								<h5>Количество наименований:   {{order.get_cart_items}}</h5>
								<h5>Сумма:   ₴{{order.get_cart_total|floatformat:2}}</h5>
							</div>
						</div>
			
					</div>
				</div>
		    </div>			
		</div>
	</div>

     <script src="https://www.paypal.com/sdk/js?client-id=AX-VrJu4eVcZgosPFC05U3X6XhpsOyfGU-M3TmlAXB6f4Z6Di6VZIHzMseRlKX3dWyuKn8dFJzTvnnP4&currency=USD&disable-funding=credit"></script>

	<script>
		var total = '{{order.get_cart_total}}'
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

        	style: {
                color:  'blue',
                shape:  'rect',
            },

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value:parseFloat(total).toFixed(2)
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    submitFormData()
                });
            }

        }).render('#paypal-button-container');
    </script>

	<script type="text/javascript">
		var shipping = '{{order.shipping}}'

		if (shipping == 'False'){
		 	document.getElementById('shipping-info').innerHTML = ''
		}

		if (user != 'AnonymousUser'){
		 	document.getElementById('user-info').innerHTML = ''
		 }

		if (shipping == 'False' && user != 'AnonymousUser'){
			//Hide entire form if user is logged in and shipping is false
				document.getElementById('form-wrapper').classList.add("hidden");
				//Show payment if logged in user wants to buy an item that does not require shipping
			    document.getElementById('payment-info').classList.remove("hidden");
		}

		var form = document.getElementById('form')
		form.addEventListener('submit', function(e){
	    	e.preventDefault()
	    	console.log('Form Submitted...')
	    	document.getElementById('form-button').classList.add("hidden");
	    	document.getElementById('payment-info').classList.remove("hidden");
	    })


	    /*document.getElementById('make-payment').addEventListener('click', function(e){
	    	submitFormData()
	    })*/


	    function submitFormData(){
	    	console.log('Payment button clicked')

	    	var userFormData = {
				'name':null,
				'email':null,
				'total':total,
			}

			var shippingInfo = {
				'address':null,
				'city':null,
				'state':null,
				'zipcode':null,
			}

			if (shipping != 'False'){
	    		shippingInfo.address = form.address.value
		    	shippingInfo.city = form.city.value
		    	shippingInfo.state = form.state.value
		    	shippingInfo.zipcode = form.zipcode.value
	    	}

	    	if (user == 'AnonymousUser'){
	    		userFormData.name = form.name.value
	    		userFormData.email = form.email.value
	    	}

	    	console.log('Shipping Info:', shippingInfo)
	    	console.log('User Info:', userFormData)

	    	var url = "/process_order/"
	    	fetch(url, {
	    		method:'POST',
	    		headers:{
	    			'Content-Type':'applicaiton/json',
	    			'X-CSRFToken':csrftoken,
	    		},
	    		body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),

	    	})
	    	.then((response) => response.json())
	    	.then((data) => {
				console.log('Success:', data);
				alert('Transaction completed');

				cart = {}
				document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"

				window.location.href = "{% url 'home' %}"

				})
	    }
	</script>


		
		<!-- Start Shop Services Area  -->
		<section class="shop-services section home">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-rocket"></i>
                    <h4>Бесплатная доставка</h4>
                    <p>При заказе от ₴300</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-reload"></i>
                    <h4>Гарантии Качества</h4>
                    <p>Возврат за некачественный товар</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-lock"></i>
                    <h4>Безопасная сделка</h4>
                    <p>Полностью безопасные платежи</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-tag"></i>
                    <h4>Лучшие цены</h4>
                    <p>Намного дешевле конкурентов</p>
                </div>
                <!-- End Single Service -->
            </div>
        </div>
    </div>
</section>
<!-- End Shop Services Area -->

<!-- Start Shop Newsletter  -->
<section class="shop-newsletter section">
    <div class="container">
        <div class="inner-top">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <!-- Start Newsletter Inner -->
                    <div class="inner">
                        <h4>Подпишитесь на нас!</h4>
                        <p> И узнавайте о самых выгодных предложениях первым!</p>
                        <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                            <input name="EMAIL" placeholder="Ваш Email" required="" type="email">
                            <button class="btn">Подписаться</button>
                        </form>
                    </div>
                    <!-- End Newsletter Inner -->
                </div>
            </div>
        </div>
    </div>
</section>
		<!-- End Shop Newsletter -->

{% endblock content %}