{% extends 'base.html' %}
{% load static %}

{% block content %}	


<!-- Header Inner -->
<div class="header-inner">
	<div class="container">
		<div class="cat-nav-head">
			<div class="row">
				<div class="col-12">
					<div class="menu-area">
						<!-- Main Menu -->
						<nav class="navbar navbar-expand-lg">
							<div class="navbar-collapse">	
								<div class="nav-inner">	
									<ul class="nav main-menu menu navbar-nav">
										<li class="active"><a href="{% url 'home' %}">Главная</a></li>
										<li><a href="{% url 'foods' %}">Каталог</a></li>
										<li><a href="{% url 'service' %}">О нашем сервисе</a></li>
										<li><a href="#">Заказ<i class="ti-angle-down"></i><span class="new">Новинка</span></a>
											<ul class="dropdown">
												<li><a href="{% url 'cart' %}">Корзина</a></li>
												<li><a href="{% url 'checkout' %}">Оплата</a></li>
											</ul>
										</li>
										<li><a href="{% url 'contact' %}">Свяжитесь с нами</a></li>
									</ul>
								</div>
							</div>
						</nav>
						<!--/ End Main Menu -->	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/ End Header Inner -->
</header>
<!--/ End Header -->
	<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<ul class="bread-list">
							<li><a href="{% url 'home' %}">Главная<i class="ti-arrow-right"></i></a></li>
							<li class="active"><a href="{% url 'foods' %}">Каталог</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->


<!-- Start Product Area -->
<div class="product-area section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Доступная еда</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-info">
                    <div class="tab-content" id="myTabContent">
                        <!-- Start Single Tab -->
                        <div class="tab-pane fade show active" id="man" role="tabpanel">
                            <div class="tab-single">
                                <div class="row">
                            

                                    {% for product in products %}
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="#">
                                                    <img class="default-img" src="{{ product.imageURL }}" alt="#">
                                                    <img class="hover-img" src="{{ product.image_hoverURL }}" alt="#">
                                                    <span class="{{ product.tag_class}}">{{ product.tag }}</span>
                                                </a>
                                                <div class="button-head">
                                                    <div class="product-action-2">
                                                        <a class="add-btn update-cart" data-product="{{ product.id }}" data-action="add" title="Add to cart" href="#">&nbsp;&nbsp;&nbsp;<i class="ti-bag"></i>&nbsp;&nbsp;В корзину</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h3><a href="#">{{ product.name }}</a></h3>
                                                <div class="product-price">
                                                    <span>₴{{ product.price|floatformat:2 }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor product in products %}
            
                
                                    
                                </div>
                            </div>
                        </div>
                        <!--/ End Single Tab -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Start Shop Services Area -->
<section class="shop-services section home">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-rocket"></i>
                    <h4>Бесплатная доставка</h4>
                    <p>При заказе от ₴300</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-reload"></i>
                    <h4>Гарантии Качества</h4>
                    <p>Возврат за некачественный товар</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-lock"></i>
                    <h4>Безопасная сделка</h4>
                    <p>Полностью безопасные платежи</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-tag"></i>
                    <h4>Лучшие цены</h4>
                    <p>Намного дешевле конкурентов</p>
                </div>
                <!-- End Single Service -->
            </div>
        </div>
    </div>
</section>
<!-- End Shop Services Area -->

<!-- Start Shop Newsletter  -->
<section class="shop-newsletter section">
    <div class="container">
        <div class="inner-top">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <!-- Start Newsletter Inner -->
                    <div class="inner">
                        <h4>Подпишитесь на нас!</h4>
                        <p> И узнавайте о самых выгодных предложениях первым!</p>
                        <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                            <input name="EMAIL" placeholder="Ваш Email" required="" type="email">
                            <button class="btn">Подписаться</button>
                        </form>
                    </div>
                    <!-- End Newsletter Inner -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Shop Newsletter -->

{% endblock content %}